NODE_ENV=local
PORT=3004
NEW_RELIC_KEY=
DATABASE_URL=postgres://api:development_pass@localhost:5438/cart-api

SWAGGER_USERNAME=hello
SWAGGER_PASSWORD=hello
DEBUG=eats-restaurant:*

JWT_ACCESS_TOKEN_SECRET=wdewdwdw
JWT_REFRESH_TOKEN_SECRET=wedwdewdewfedw
TOKEN_EXPIRY=400000
STRIPE_API_SECRET_KEY=XXXXXXXX


