NODE_ENV=local
PORT=3006
NEW_RELIC_KEY=
DATABASE_URL=postgres://api:development_pass@localhost:5433/order-api

SWAGGER_USERNAME=hello
SWAGGER_PASSWORD=hello
DEBUG=eats-restaurant:*

JWT_ACCESS_TOKEN_SECRET=wdewdwdw
JWT_REFRESH_TOKEN_SECRET=wedwdewdewfedw
TOKEN_EXPIRY=400000


